<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
<h1 style="text-align: center;">Exif Data Viewer</h1>


<table class="table" style="margin-bottom: 25px;width: 25%;margin-left: auto;margin-right: auto;">

<form action="/upload" method="post" enctype="multipart/form-data">
    <tr> 
      <td style="border: none">
      <input class="form-control" type="file" name="fileToUpload">
      </td>
      <td style="border: none">
      <input class="btn btn-secondary" type="submit" value="Upload">
      </td>
    </tr>
</form>

</table>